
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // Helper functions to check user roles
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isRole(role) {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == role;
    }

    function isAdmin() {
      return isRole('admin');
    }

    function isSeller() {
      return isRole('seller');
    }

    // Aturan untuk file avatar:
    // Baca: Izinkan jika pengguna login (opsional, bisa juga 'if true' jika avatar publik).
    // Tulis: Izinkan hanya jika ID pengguna cocok.
    match /avatars/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(userId);
    }

    match /profile_headers/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(userId);
    }

    match /profile_backgrounds/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(userId);
    }

    // Aturan untuk gambar produk:
    // Baca: Izinkan akses publik untuk semua gambar produk.
    // Tulis: Izinkan hanya jika pengguna adalah penjual atau admin.
    match /product_images/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isSeller() || isAdmin();
    }

    // Aturan untuk file produk yang dapat diunduh:
    // Baca & Tulis: Hanya izinkan penjual yang merupakan pemilik folder atau admin.
    match /product_files/{userId}/{allPaths=**} {
      allow read, write: (isSeller() && isOwner(userId)) || isAdmin();
    }

    // Aturan untuk ikon perangkat lunak:
    // Baca: Izinkan akses publik.
    // Tulis: Hanya izinkan admin.
    match /software_icons/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Aturan untuk gambar kampanye:
    // Baca: Izinkan akses publik.
    // Tulis: Hanya izinkan admin.
    match /campaign_images/{userId}/{allPaths=**} {
        allow read: if true;
        allow write: if isAdmin();
    }
    
    // Aturan untuk aset platform (seperti gambar OG):
    // Baca: Izinkan akses publik.
    // Tulis: Hanya izinkan admin.
    match /platform_assets/{userId}/{allPaths=**} {
        allow read: if true;
        allow write: if isAdmin();
    }

    // Aturan default yang lebih ketat untuk path lain yang tidak cocok.
    // Menolak semua akses baca dan tulis secara default.
    match /{allOtherPaths=**} {
        allow read, write: if false;
    }
  }
}
